
.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    column-gap: 50px;
    width: 90%;
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}
.about-img{
    width: 100%;
border-radius: 10px;
}
.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-right h3{
    font-weight: 500;
    font-size: 12px;
    color: #212ea0;
}
.about-right h2{
    font-size: 28px;
    color: #000f38;
    margin: 10px 0;
    max-width: 400px;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
}


/*----- media query -----*/




@media (max-width:1029px) {
.about{
    width: 100%;
}
}

@media (max-width:942px) {
    .about p{
        font-size: 12px;
    }


    @media (max-width:788px) {
        .about p{
            font-size: 10px;
        }

        @media (max-width:663px) {
            .about p{
                font-size: 8px;
            }


          
@media (max-width:588px) {
    .about{
        flex-direction: column;
    }
    .about p{
        font-size: 15px;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        flex-basis: 100%;
    }
}

        }}}